/* (min-width: 992px) */

/* NAVIGATION */

.navbar-brand {
   padding-left: 5vw;
}

/*SECTIONS*/

main {
   margin: 0 5vw;
}

/* MAIN BOXES */

.mainBoxes {
   margin: 0;
   width: 68vw;
   height: 43vh;
   border-radius: 0%;
}

.mainBoxes table td {
   min-width: 8vw;
}

/* ABOUT-ME */

#about-me {
   margin-top: 3vh;
   padding-bottom: 0;
   width: 68vw;
   height: 49vh;
}

.about-me-h2 {
   margin-left: 0;
   margin-top: 2vh;
}

.about-me-h2 h2 {
   padding-left: 2vw;
   font-size: 2rem;
}
 
.about-me-text {
   padding-left: 2vw;
   margin-top: -1%;
   margin-right: 2.5vw;
}

.about-me-text p {
   font-size: 1.3rem;
}

/* LANGUAGES */

#languages {
   margin-top: 3vh;
}

.languages-image {
   height: 100%;
}

/* EDUCATION */

#education {
   margin-top: 3vh;
}

/* EXPERIENCE */

#experience {
   display: grid;
   margin-top: 3vh;
   padding: 0;
   height: 74vh;
}

.experience-image {
   display: block;
   grid-column: 2/3;
   height: 100%;
   margin: 0;
   padding: 0;
   top: 0;
}

.experience-image img {
   transform: rotate(90deg);
}

.experience-text {
   grid-column: 1/2;
   padding-top: -10vh;
}

#experience table td {
   min-width: 9vw;
}

@media (min-width: 1920px) {
   .mainBoxes h2 {
      font-size: 1.7rem;
   }

   .languages-text {
      padding-top: 2%;
   }

   .languages-text ul {
      font-size: 1.2rem;
   }

   .languages-text a {
      font-size: 1.2rem;
   }

   .education-text {
      font-size: 1.2rem;
      padding-top: 5%;
   }

   #experience {
      height: 71vh;
   }

   #experience table td {
      font-size: 1.15rem;
   }
}