/* (min-width: 992px) */

/* NAVIGATION */

.navbar-brand {
   padding-left: 5vw;
}

/*SECTIONS*/

main {
   margin: 0 5vw;
}

/* MAIN BOXES */

.mainBoxes {
   margin: 0;
   width: 68vw;
   height: 43vh;
   border-radius: 1%;
}

/* ABOUT-ME */

#about-me {
   margin-top: 2vh;
   padding-bottom: 10vh;
   width: 68vw;
   height: 48vh;
   border-radius: 1%;
}

.about-me-photo img {
   margin-top: 2vh;
}

.about-me-h2 {
   margin-left: 0;
   margin-top: 1vh;
}

 .about-me-h2 h2 {
   padding-left: 2vw;
   font-size: 2rem;
 }
 
.about-me-text {
   margin-top: 2vh;
   margin-right: 5vw;
}

 .about-me-text p {
   font-size: 1.2rem;
 }

 /* LANGUAGES */

#languages {
   margin-top: 3vh;
}

.languages-image {
   height: 38vh;
}

 /* EDUCATION */

#education {
   margin-top: 3vh;
}

.education-image {
   margin-top: 4vh;
}

 /* EXPERIENCE */

 #experience {
   display: grid;
   grid-template-columns: 60% 40%;
   margin-top: 3vh;
   padding-top: -10vh;
   height: 68vh;
 }

 .experience-image {
   display: block;
   grid-column: 2/3;
   padding-top: 10vh;
   padding-right: 1vw;
 }

 .experience-image img {
   height: 30vh;
   width: 27vw;
 }

 .experience-text {
   grid-column: 1/2;
 }