* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background-color: #C1Bebd;
   background-image: linear-gradient(315deg, #716c6a 0%, #C1Bebd 74%);
   font-family:'Quicksand', sans-serif;
}

/* HEADER */

header {
   position: relative;
   height: 65px;
   background-color:#716c6a;
   font-size: 3rem;
   font-weight:300;
   color: #d3d2d1;
}

header p {
   text-align: center;
   text-shadow: 1px 1px 3px #a7a3a0;
}

header span {
   font-weight: bold;
}

/* ASIDE */

#container {
   display: grid;
   grid-template-columns: 30% 70%;
   position: relative;
}

aside {
   grid-column: 1 / span 1;
   font-size: 0.7rem;
}

aside i {
   text-align:center;
   max-height: 10px;
}

aside p {
   padding-left: 8px;
}

aside h2 {
   padding-left: 8px;
}

.aside-table {
   table-layout: fixed;
   width: 120px;
   border-spacing: 0;
   font-size: 0.5rem;
}

.aside-table td {
   margin: 0;
}

aside table a {
   text-decoration: none;
   color: black;
}

aside table a:hover {
   color: brown;
   cursor: pointer;
}

.icons {
   width: 18px;
   font-size: 10px;
   padding: 2px;
}

img {
   width: 100%;
   border-radius: 5%;
   margin: 5px;
   margin-top: 10px;
}

/* MAIN  */

main {
   grid-column: 2 / span 1;
   position: relative;
}

.mainBoxes {
   position: relative;
   border-radius: 2%;
   background: #ecddd5;
   margin: 10px;
   font-size: 0.7rem;
   color: #dad9d8;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.mainBoxes h2 {
   text-align: center;
}

.mainBoxes-text {
   position: absolute;
   padding: 10px;
   text-align: justify;
}

.about-me {
   background-image: url(../img/womanmount.jpg);
   height: 180px;
}

.languagesProjects {
   height: 180px;
   background-image: url(../img/coding.jpg);
}

.hero-bg {
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .75);
   border-radius: 2%;
}

.languagesProjects a {
   text-decoration: none;
   color: #c1bfbd;
   cursor: pointer;
}

.languagesProjects ul {
   list-style-position: inside;
}

.education {
   min-height: 250px;
   padding-left: 0;
   background-image: url(../img/graduation-cap.jpg);
}

table {
   border-spacing: 10px;
   text-align: justify;
   table-layout: fixed;
   border-spacing: 0 10px;
}

.Educationdates {
   min-width:60px;
   padding: 0;
}

.professionalExperience {
   background-image: url(../img/work.jpg);
   height: 400px;
}

.Experiencedates {
   width:45px;
   padding: 0;
}

.hero-bg-experience {
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .8);
   border-radius: 2%;
}
/*
 #ci1 {
     font-family:'Quicksand', sans-serif;
    font-size: 15px;
    padding: 10px;
    background: #ecddd5;
    margin:10px;
}
 
 #ci2 {
    font-family:'Quicksand', sans-serif;
    font-size: 15px;
    padding: 10px;
    background: #ecddd5;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
 }

 #ci3 {
    font-family:'Quicksand', sans-serif;
    font-size: 15px;
    padding: 10px;
    background: #c1bebd;
 }

 #ci4 {
    font-family:'Quicksand', sans-serif;
    font-size: 15px;
    padding: 10px;
    background: #ecddd5;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
 }

 #ci5 {
    font-family:'Quicksand', sans-serif;
    font-size: 15px;
    padding: 10px;
    background: #ecddd5;
    margin-right: 10px;
    margin-bottom: 10px;
 }

 div#ci1:hover {background:#dfc8bb;}
 div#ci2:hover {background:#dfc8bb;}
 div#ci4:hover {background:#dfc8bb;}
 div#ci5:hover {background:#dfc8bb;}

 .header {
    font-family:'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 700;
 }

 .header2 {
    font-family:'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding-top: 100px;
 }

 .Educationdates {min-width:80px;}
 .Experiencedates {min-width:130px;}
 .Experienceprograms {padding-bottom:20px;}
 #Highschool {padding-bottom:5px;}

 .icons {
    text-align:center;
    max-height: 10px;
}
 .data {padding-left:10px;}

 */