* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   height: 100%;
}

body {
   background-color: #808080;
   background-image: linear-gradient(326deg, #808080 0%, #C1Bebd 74%);
   font-family:'Quicksand', sans-serif;
}

/* NAVIGATION */

nav {
   position: sticky;
   top: 0;
   height: 60px;
   line-height: 60px;
   background-color: rgb(194, 192, 192);
   text-align: center;
   overflow: hidden;
   z-index: 1;
}

.nav-mobile {
   margin-right: 100%;
}

.nav-mobile button {
   padding: 0 30px;
   line-height: 60px;
   font-size: 30px;
   background: none;
   border: none;
}

.nav-desktop {
   display: none;
}

/* SECTIONS */

/* ABOUT-ME */

#about-me {
   display: grid;
   grid-template-columns: 50% 50%;
   height: 50vh;
   position: relative;
   margin-top: -5vh;
}

.about-me-photo img {
   grid-column: 1 / span 1;
   height: 50vh;
   width: 100%;
   object-fit: contain;
   overflow: hidden;
}

.about-me-text {
   grid-column: 2 / span 1;
   padding: 10px;
   margin: auto;
}

.about-me-text h2 {
   color: rgb(11, 127, 204);
   text-align: justify;
   font-size: 0.8rem;
}

.about-me-text p {
   text-align: justify;
   font-size: 0.7rem;
}

@media (min-width: 400px) {
   .about-me-text h2 {
      font-size: 0.9rem;
   }

   .about-me-text p {
      font-size: 0.8rem;
   }
}

@media (min-width: 450px) {
   .about-me-text h2 {
      font-size: 1rem;
   }

   .about-me-text p {
      font-size: 0.9rem;
   }
}

/* LANGUAGES */

#languages {
   height: 35vh;
   background-image: url(../img/coding.jpg);
   position: relative;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 2%;
   margin: 3vw;
   margin-top: -5vh;
}

.languages-text {
   position: absolute;
   color: black;
   padding: 2vw;
}

.languages-text ul {
   list-style-type: none;
   list-style: inside;
   padding-top: 2vh;
}

.languages-text h2 {
   font-size: 1rem;
}

.langugaes-text p {
   font-size: 1rem;
}

.hero-bg {
   width: 100%;
   height: 100%;
   background-color: rgba(194, 192, 192, 0.75);
   border-radius: 2%;
}

/* ASIDE */
/*
#container {
   display: grid;
   grid-template-columns: 30% 70%;
   position: relative;
}

aside {
   grid-column: 1 / span 1;
   font-size: 0.7rem;
}

aside i {
   text-align:center;
   max-height: 10px;
}

aside p {
   padding-left: 8px;
}

aside h2 {
   padding-left: 8px;
}

.aside-table {
   table-layout: fixed;
   width: 120px;
   border-spacing: 0;
   font-size: 0.5rem;
}

.aside-table td {
   margin: 0;
}

aside table a {
   text-decoration: none;
   color: black;
}

aside table a:hover {
   color: brown;
   cursor: pointer;
}

.icons {
   width: 18px;
   font-size: 10px;
   padding: 2px;
}

img {
   width: 100%;
   border-radius: 5%;
   margin: 5px;
   margin-top: 10px;
}
*/
/* MAIN  */
/*
main {
   grid-column: 2 / span 1;
   position: relative;
}

.mainBoxes {
   position: relative;
   border-radius: 2%;
   background: #ecddd5;
   margin: 10px;
   font-size: 0.7rem;
   color: #dad9d8;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.mainBoxes h2 {
   text-align: center;
}

.mainBoxes-text {
   position: absolute;
   padding: 10px;
   text-align: justify;
}

.about-me {
   background-image: url(../img/womanmount.jpg);
   height: 180px;
}

.languagesProjects {
   height: 180px;
   background-image: url(../img/coding.jpg);
}

.hero-bg {
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .75);
   border-radius: 2%;
}

.languagesProjects a {
   text-decoration: none;
   color: #c1bfbd;
   cursor: pointer;
}

.languagesProjects ul {
   list-style-position: inside;
}

.education {
   min-height: 250px;
   padding-left: 0;
   background-image: url(../img/graduation-cap.jpg);
}

table {
   border-spacing: 10px;
   text-align: justify;
   table-layout: fixed;
   border-spacing: 0 10px;
}

.Educationdates {
   min-width:60px;
   padding: 0;
}

.professionalExperience {
   background-image: url(../img/work.jpg);
   height: 400px;
}

.Experiencedates {
   width:45px;
   padding: 0;
}

.hero-bg-experience {
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .8);
   border-radius: 2%;
}
/*
 #ci1 {
     font-family:'Quicksand', sans-serif;
    font-size: 15px;
    padding: 10px;
    background: #ecddd5;
    margin:10px;
}
 
 #ci2 {
    font-family:'Quicksand', sans-serif;
    font-size: 15px;
    padding: 10px;
    background: #ecddd5;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
 }

 #ci3 {
    font-family:'Quicksand', sans-serif;
    font-size: 15px;
    padding: 10px;
    background: #c1bebd;
 }

 #ci4 {
    font-family:'Quicksand', sans-serif;
    font-size: 15px;
    padding: 10px;
    background: #ecddd5;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
 }

 #ci5 {
    font-family:'Quicksand', sans-serif;
    font-size: 15px;
    padding: 10px;
    background: #ecddd5;
    margin-right: 10px;
    margin-bottom: 10px;
 }

 div#ci1:hover {background:#dfc8bb;}
 div#ci2:hover {background:#dfc8bb;}
 div#ci4:hover {background:#dfc8bb;}
 div#ci5:hover {background:#dfc8bb;}

 .header {
    font-family:'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 700;
 }

 .header2 {
    font-family:'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding-top: 100px;
 }

 .Educationdates {min-width:80px;}
 .Experiencedates {min-width:130px;}
 .Experienceprograms {padding-bottom:20px;}
 #Highschool {padding-bottom:5px;}

 .icons {
    text-align:center;
    max-height: 10px;
}
 .data {padding-left:10px;}

 */