/* (min-width: 768px) */

/* NAV */

.navbar-brand {
   font-size: 2rem;
}

/* ABOUT-ME */

#about-me {
   grid-template-columns: 35% 65%;
   margin-left: 10vw;
   margin-top: 2vh;
   height: 35vw;
   width: 78vw;
   border: 1px solid rgb(170, 166, 166);
   background-color: #ececec;
   border-radius: 0%;
   transition: transform 0.4s;
}

#about-me:hover {
   transform: scale(1.05);
}

.about-me-photo {
   grid-row: 1/3;
}

.about-me-photo img {
   height: 100%;
   margin-top: 0;
   object-fit: cover;
}

.about-me-text {
   margin-right: 1.5vw;
   margin-top: -1vh;
}
 
.about-me-h2 {
   grid-column: 2/3;
}

.about-me-h2 h2 {
   padding-top: 0;
   font-size: 1.5rem;
}
 
.about-me-text p {
   padding-top: 2vh;
   font-size: 1.1rem;
}

.hero-bg {
   display: none;
   border-radius: 0%;
}

/* MAIN BOXES */

.mainBoxes {
   display: grid;
   grid-template-columns: 50% 50%;
   background-color: #ececec;
   height: 48vh;
   transition: transform 0.4s;
}

.mainBoxes:hover {
   transform: scale(1.05);
}

.mainBoxes h2 {
   padding-top: 1vh;
   font-size: 1.2rem;
}

.mainBoxes-image {
   display: block;
   width: 100%;
   height: 100%;
   overflow: hidden;
}

.mainBoxes-image img {
   background-size: cover;
   width: 100%;
   height: 100%;
}

.mainBoxes table td {
   min-width: 12vw;
}

/* LANGUAGES */

#languages {
   margin-top: 1vh;
   margin-right: 10vw;
   margin-left: 10vw;
   margin-bottom: 0;
   background-image: none;
   border-radius: 0%;
}

.languages-image {
   grid-column: 2 / 3;
}

.languages-image img {
   margin: 0;
}

.languages-text {
   grid-column: 1 / 2;
   padding-top: 0;
   color: rgb(51, 49, 49);
   height: 100%;
   width: 100%;
}

.languages-text ul {
   font-size: 1.05rem;
}

.languages-text a {
   color: rgb(51, 49, 49);;
   font-size: 1.05rem;
}

.languages-text h2 {
   padding-bottom: 0;
}

/* EDUCATION */

#education {
   margin-right: 10vw;
   margin-left: 10vw;
   height: 49vh;
   background-image: none;
   border-radius: 0%;
}

.education-image {
   grid-column: 1 / 2;
   padding: 0;
   margin: 0;
}

.education-text {
   grid-column: 2 / span 1;
   padding-top: 0;
   color: rgb(51, 49, 49);
   font-size: 1.05rem;
}

/* EXPERIENCE */

#experience {
   position: relative;
   display: block;
   margin-top: 0;
   margin-left: 10vw;
   margin-right: 10vw;
   height: 55vh;
   background-image: none;
}

.experience-image {
   position: absolute;
   right: 0;
   top: 6vh;
   display: none;
   height: 28vh;
}

.experience-image img {
   width: 40vw;
}

#experience table td {
   padding-bottom: 1.2vh;
   min-width: 15vw;
   font-size: 1rem;
}