/* (min-width: 768px) */

/* NAV */

.navbar-brand {
   font-size: 2rem;
}

/* ABOUT-ME */

#about-me {
    grid-template-columns: 40% 60%;
    height: 40vh;
    margin-left: 10vw;
 }
 
 .about-me-photo img {
    height: 40vh;
    margin-top: -6vh;
 }

 .about-me-text {
     margin-right: 10vw;
     margin-top: -3vh;
 }
 
 .about-me-h2 h2 {
    font-size: 1.5rem;
    padding-top: 0;
 }
 
 .about-me-text p {
    padding-top: 2vh;
    font-size: 1.2rem;
 }

 .hero-bg {
    position: absolute;
    display: none;
    height: 0;
    width: 0;
 }

 /* MAIN BOXES */

 .mainBoxes {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 34vh;
 }

 .mainBoxes h2 {
    font-size: 1.2rem;
    padding-top: 1vh;
 }

 .mainBoxes-image {
    display: block;
    width: auto;
 }

 .mainBoxes table td {
   min-width: 12vw;
 }

 /* LANGUAGES */

 #languages {
    background-image: none;
    margin-top: 0;
    margin-right: 10vw;
    margin-left: 10vw;
 }

 .languages-image {
    grid-column: 2 / span 1;
    height: 24vh;
 }

 .languages-image img {
     height: 100%;
     width: 100%;
     object-fit: contain;
 }

 .languages-text {
    grid-column: 1 / span 1;
    color: black;
    padding-top: 0;
 }

 .languages-text ul {
    font-size: 1.2rem;
 }

 .languages-text a {
    color: black;
    font-size: 1.2rem;
 }

 .languages-text h2 {
    padding-bottom: 0;
 }

 /* EDUCATION */

 #education {
    background-image: none;
    margin-right: 10vw;
    margin-left: 10vw;
    height: 37.5vh;
 }

 .education-image {
    grid-column: 1 / span 1;
    height: 28vh;
 }

 .education-image img {
     height: 100%;
     width: 100%;
     object-fit: contain;
 }

 .education-text {
    grid-column: 2 / span 1;
    color: black;
    padding-top: 0;
 }

 .education-text ul {
    font-size: 1.2rem;
 }

 /* EXPERIENCE */

 #experience {
    background-image: none;
    margin-top: 0;
    margin-left: 10vw;
    margin-right: 10vw;
    height: 45vh;
    display: block;
 }

 .experience-image {
     position: absolute;
     right: 0;
     height: 28vh;
     float: right;
 }

 .experience-image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    right: 0;
 }

 #experience table td {
   min-width: 15vw;
   padding-bottom: 1.2vh;
}