/* (min-width: 576px) */

/* ABOUT-ME */

#about-me {
    grid-template-columns: 40% 60%;
    height: 40vh;
    margin-left: 2vw;
 }
 
 .about-me-photo img {
    height: 40vh;
 }

 .about-me-text {
     margin-right: 5vw;
 }
 
 .about-me-h2 h2 {
    font-size: 1rem;
 }
 
 .about-me-text p {
    padding-top: 3vh;
    font-size: 1rem;
 }